Package: com.decimation.heartbeat
Name: Heartbeat for Messages
Version: 1.0
Architecture: iphoneos-arm
Description: Heartbeat for Messages.
Homepage: www.reddit.com/u/_Decimation
Depends: winterboard
Section: Themes (Messages)
Author: Read Stanton (Decimation) <decimation001@gmail.com>
Maintainer: Decimation <decimation001@gmail.com>
