Package: com.decimation.slashes
Name: Slashes for Messages
Version: 1.1
Architecture: iphoneos-arm
Description: Vertical slashes for Messages
Homepage: www.reddit.com/u/_Decimation
Depends: winterboard
Section: Themes (Messages)
Author: Read Stanton (Decimation) <decimation001@gmail.com>
Maintainer: Decimation <decimation001@gmail.com>
