Package: com.decimation.slashesforwhatsapp
Name: Slashes for WhatsApp
Version: 1.0
Architecture: iphoneos-arm
Description: Slashes Messages theme for WhatsApp.
Homepage: www.reddit.com/u/_Decimation
Depends: winterboard
Section: Themes (WhatsApp)
Author: Read Stanton (Decimation) <decimation001@gmail.com>
Maintainer: Decimation <decimation001@gmail.com>
