Package: com.decimation.drake
Name: Drake LockGlyph
Version: 1.1
Architecture: iphoneos-arm
Description: LockGlyph Drake Started From The Bottom Theme
Homepage: www.reddit.com/u/_Decimation
Depends: com.evilgoldfish.lockglyph
Section: Themes (LockGlyph)
Author: Read Stanton (Decimation) <decimation001@gmail.com>
Maintainer: Decimation <decimation001@gmail.com>
