Package: com.decimation.theghostinside
Name: The Ghost Inside LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm
Description: The Ghost Inside LockGlyph Theme
Homepage: www.reddit.com/u/_Decimation
Depends: com.evilgoldfish.lockglyph
Section: Themes (LockGlyph)
Author: iReaperrr
Maintainer: Decimation <decimation001@gmail.com>
